*{
   margin:0;
   padding: 0;
   box-sizing: border-box;}

.mySlides {display: none}
img {vertical-align: middle;}

body{
   font-family: sans-serif;
   font-size: 14px;
}

a{
   text-decoration: none;
}

.general {
   background-image: url(../img/back1.png);
   background-repeat:repeat;
   background-size: 50%;
   padding-top: 1px;
   margin: 0 auto;
   width: 100%;
}

header .completo{
   width:100%;
   top:0px;
   padding: 1px;
   position: fixed;
   z-index: 10;
   box-sizing: border-box;
   margin: 0px auto;
}
.encabezado{
   background-color: #00DFAA;
   border-radius: 0.1%;
   padding-top: 10px;
   color:  #FFFFFF;
   position: relative;
   width: 100%;
}

.logo{
   margin-top: 5px;
   background-size: contain;
   background-image: url(../img/logo3.png);
   background-repeat: no-repeat;
   width: 50px;
   height: 53px;
   margin: 0.2vh 2vw;
   position: absolute;
   z-index: 11;
}

.logo:hover{
   opacity: 0.7;
}

.busqueda {
   margin-left: 100px;
   display: inline-block;
   width: 45%;
   position: relative;
   z-index: 2;
   padding-bottom: 20px;
}

.busqueda form{
   width: 90%;
}

.poner{
   width: 65%;
   padding: 1%;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 2px;
   box-sizing: border-box;
}

.inicio{
   font-size: 0.9em;
   display: inline-block;
}

.inicio a{
   color: white;
   padding: 0.5vw;
}

.inicio a:hover {
   color: black;
}

.inicio  .actividades {
   display: none;
}

.dar-klik, .menun {
   display: none;
}

.ul-label{
   display: none;
}


.buscar{
   padding: 5px;
   margin: 1vh 1vw;
   width:70px;
   display: inline-block;
   border: none;
   border-radius: 2px;
   box-sizing: border-box;
   cursor: pointer;
   color:#585858;
   background-color:#BDBDBD;
}

.buscar:hover{
   background-color: #9A4550;
   color: white;
}

.avatar{
  width: 50px;
}

.menu{
   padding-top: 1px;
   color:  black;
   width: 100%;
}

/*.menu .menu-derc{
   background-color:  #01DFA5;
   font-size:1rem;
   margin-right: 0;
   display: inline-block;
   padding: 10px 0;
   float:right;
   width: 60%;
}*/

.menu .menu-izq{
   background-color: #E6E6E6;
   font-size:1rem;
   padding: 10px;
   display: inline-block;
   float: left;
   width: 100%;
}

.menu a {
   color: black;
   text-decoration: none;
   padding-left: 1.2vw;
}

.menu a:hover {
   color: #01DFA5;
}

.button2{
  color: white;
  font-size: 13px;
  background-color: #9C434F;
  border: none;
}

footer{
   width: 10  0%;
   background-color: #00DFAF;
   text-align: center;
   padding: 2%;
   color: black;
   clear: both;
   font-size: 14px;
}

/* INDEX */

section .articulo1{
   display: inline-block;
   vertical-align: top;
   width: 100%;
   background-color: white;
}

section .sport {
   float: left;
   display: inline-block;
   width: 100%;
}

section .sport1 img{
    margin:1% 5% 1% 10%;
    width: 27%;
    float: left;
}

section .sport2 img{
   width: 49%;
   margin-right: 0;
   display: inline-block;
   vertical-align: top;
   float: right;
}

section .info{
   display: inline-block;
   width: 100%;
   text-align: justify;
   background-color: #E6E6E6;
   padding: 2% 10%;
   color: black;
}

/* Slideshow container */
.slideshow-container {
  max-width: 300px;
  position: relative;
  margin: auto;
  float: left;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: red;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: red;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The recoms/bullets/indicators */
.reco {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .reco:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/* Seccion Recomendados */
.articulo2{
   color: black;
   clear: both;
   width: 100%;
}

.articulo2 .deportes{
   display: inline-block;
   width: 100%;
   color: #A4A4A4;
}


.articulo2 .deportes1{
   display: inline-block;
   width: 100%;
   color: #A4A4A4;
}

/*.deporte {
   display: inline-block;
   width: 100%;
   margin-top: 10px;
}*/

/*.subtitulo{
   text-align: center;
   margin-top: 5px;
}*/
.articulo2 .deportes .imagenT img{
   display: inline-block;
   width: 40%;
   vertical-align: top;
   float: left;
   margin: 0;
}

.articulo2 .deportes .imagen6 img{
  display: none;
}

.articulo2 .deportes .imagen img{
   display: inline-block;
   width: 20%;
   vertical-align: top;
   float: left;
   margin-top: 5%;
}

.articulo2 .deportes1 .imagenT img{
   display: inline-block;
   width: 40%;
   vertical-align: top;
   float: right;
   margin: 0;
}

.articulo2 .deportes1 .imagen6 img{
  display: none;
}

.articulo2 .deportes1 .imagen img{
   display: inline-block;
   width: 20%;
   vertical-align: top;
   margin-top: 5%;
   float: right;
}

/*section{
   margin-top: 20px;
   border: solid 1px grey;
}*/

/*Pantalla iniciar sesion*/

.iniciar{
    width: 100%;
}

section .ingresar{
   border: 2px solid #4E9184;
   width: 40%;
   margin: 5%;
   margin-left: 10%;
   background-color: #fff;
   border-radius: 15px;
   padding: 30px;
   float: left;
   display: inline-block;
   box-shadow:
}

.ingresar p{
   text-align: left;
   display:block;
   font-size: 15px;
   color: #489185;
   margin-bottom: 18px;
}

.ingresar .recor p{
   text-align: center;
   display:block;
   padding-left: 12px;
   font-size: 12px;
   color: #A4A4A4;
   margin-bottom: 20px;
 }

.ingresar select {
   width: 100%;
   height: 40px;
   padding: 6px 20px;
   margin: 1vh 0vw;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
}

.nombre{
  width: 100%;
  margin-left: 0px;
}

/*.nombre1{
  display: none;
}

/*.errores{
  display: none;
}*/

.mensajes2 li{
  display: none;
}

.mensajes li{
  display: inline-block;
  margin-left: 12%;
  color: red;
  font-size: 11px;
  list-style-type: none;
}

.mensa li{
  display: inline-block;
  margin-left: 30%;
  color: red;
  font-size: 11px;
  list-style-type: none;
}

.mens li{
 display: inline-block;
 margin-left:40px;
 color: red;
 font-size: 11px;
 list-style-type: none;
}

 .mensaje1 {
  display: inline-block;
  margin-left:30%;
  color: red;
  font-size: 11px;
  list-style-type: none;
}

.foto{
  width: 100%;
    height: 40px;
    padding: 10px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 3px 0px;
}

.selectores{
  width: 100%;
  margin-left: 0px;
}

.ingresar input[type=text] {
   padding: 12px 20px;
   margin: 1vh 0vw;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
}

.ingresar input[type=password] {
   padding: 12px 20px;
   margin: 1vh 0vw;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
}

.ingresar input[type=submit] {
   width: 100%;
   background-color: #4E9184;
   color: white;
   padding: 14px 20px;
   margin-left: 0px;
   margin-top: 15px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

.ingresar input[type=submit]:hover {
   background-color: #5CAD9D;
}

.ingresar .face{
   width: 100%;
   height: 20%;
   background-color: #29088A;
   color: white;
   padding-top: 15px;
   margin-left: 0px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

.ingresar .face:hover {
   background-color: #210B61;
}

.ingresar .face p {
   color: white;
   text-align: center;
}

section .regis{
   width: 45%;
   margin-top: 5%;
   border-radius: 15px;
   float: left;
}

.regis p{
   text-align:left;
   display:block;
   padding-left: 20px;
   font-size: 18px;
   color: #01DFA5;
   margin: 25px 0px;
   font-weight: bold;
}

.regis p.imp{
   text-align:left;
   display:block;
   padding-left: 20px;
   font-size: 18px;
   color: black;
   margin: 25px 0px;
   font-weight: bold;
}

.error{
  color:red;
  font-size: 10px;
}

hr {
   height: 3px;
   width: 100%;
   background-color: #A4A4A4;
}

.img_depor{
   width: 100%;
}

.img_depor1{
   display: none;
}

.ok{
   color: #8A0829;
   margin-left: 50px;
   font-size: 12px;
}

/*Preguntas Frecuentes*/
.cabeza{
   display: block;
   margin: 15px 20px;
}

.cabeza  h2{
   text-align: center;
   display: inline-block;
   font-size: 20px;
   color: #4E9184;
   margin-top: 20px;
}

.preguntas{
   /*box-shadow: 4px 4px 4px #585858;*/
   height: 50px;
   background: rgba(1, 223, 165, 0.7);
   margin: 0 auto;
   width: 85%;
   display: block;
   border-radius: 2px;
   padding: 5px;
   border: 3px solid #A4A4A4;
}
.preguntas h3{
   text-align: center;
   font-size: 20px;
   color: #585858;
}
.preguntas h3:hover{
   color: #4E9184;
}

.respuestas{
   width: 80%;
   display: none;
   margin: 0 auto;
   margin-bottom: 25px;
   text-align: justify;
   font-size: 20px;
   padding-top: 5px;
}

.preyres{
   margin-bottom: 15px;
}

.dar-clic{display: none;}
.dar-clic:checked ~ div.respuestas{
   display: block;
}

.consulta{
   background: rgba(88,88, 88, 0.1);
   /*box-shadow: 4px 4px 4px #585858;*/
   margin: 0 auto;
   width: 85%;
   border: 3px solid #A4A4A4;
   display: block;
   position: relative;
   padding-bottom: 5px;
   margin-bottom: 10px;
}
.consulta h3{
   text-align: center;
   font-size: 20px;
   padding: 10px;
   color: #585858;
}
.consulta input{
   display: block;
   margin: 0 auto;
}
.consulta #texto{
   margin: 10px 120px;
   font-size: 15px;
   width: 70%;
}

.consulta #boton{
   padding: 5px;
   margin-left: 20px;
   width:70px;
   display: inline-block;
   border: none;
   border-radius: 2px;
   box-sizing: border-box;
   cursor: pointer;
   color:#585858;
   background-color:#BDBDBD;
}

.consulta #boton:hover{
   background-color: #4E9184;
   color: white;
}

/*Pantalla suma_actividad*/

.iniciar1{
    width: 100%;
}

section .ingresar1{
   border: 2px solid #4E9184;
   width: 90%;
   margin: 5%;
   background-color: #fff;
   border-radius: 15px;
   padding: 30px;
   display: inline-block;
   box-shadow:
}

.ingresar1 p{
   text-align: left;
   display:block;
   font-size: 15px;
   color: #489185;
   margin-bottom: 18px;
}

.ingresar1 .recor p{
   text-align: center;
   display:block;
   padding-left: 12px;
   font-size: 12px;
   color: #A4A4A4;
   margin-bottom: 20px;
 }

.ingresar1 select {
   width: 21%;
   height: 40px;
   padding: 6px 20px;
   margin: 1vh 0vw;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
}

.nombre{
  width: 50%;
  margin-left: 0px;
  position: relative;
  float: left;
}

.dias{
  width: 100%;
  margin-left: 5px;
}

.ridge{
border-style: border;
}

.mensajes2 li{
  display: none;
}

.mensajes li{
  display: inline-block;
  margin-left: 12%;
  color: red;
  font-size: 11px;
  list-style-type: none;
}

.mensa li{
  display: inline-block;
  margin-left: 30%;
  color: red;
  font-size: 11px;
  list-style-type: none;
}

.mens li{
 display: inline-block;
 margin-left:40px;
 color: red;
 font-size: 11px;
 list-style-type: none;
}

 .mensaje1 {
  display: inline-block;
  margin-left:30%;
  color: red;
  font-size: 11px;
  list-style-type: none;
}

.foto{
  width: 98%;
  height: 40px;
  padding: 10px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 3px 0px;
}

.selectores{
  width: 29%;
  margin-left: 0px;
}

.ingresar1 input[type=text] {
   width: 21%;
   padding: 12px 20px;
   margin: 1vh 0vw;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
}

.ingresar1 input[type=submit] {
   width: 21%;
   background-color: #4E9184;
   color: white;
   padding: 14px 20px;
   margin-left: 0px;
   margin-top: 15px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

.ingresar1 input[type=submit]:hover {
   background-color: #5CAD9D;
}

section .regis{
   width: 29%;
   margin-top: 5%;
   border-radius: 15px;
   float: left;
}

.regis p{
   text-align:left;
   display:block;
   padding-left: 20px;
   font-size: 18px;
   color: #01DFA5;
   margin: 25px 0px;
   font-weight: bold;
}

.regis p.imp{
   text-align:left;
   display:block;
   padding-left: 20px;
   font-size: 18px;
   color: black;
   margin: 25px 0px;
   font-weight: bold;
}

hr {
   height: 3px;
   width: 100%;
   background-color: #A4A4A4;
}

/*Pantalla actividades y tus actividades*/

.actividad h2{
  margin-left: 5%;
  color: #489185;
}
.actividad table {
    border-collapse: collapse;
    width: 80%;
    margin-left: 10%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #00DFAA;
    color: white;
}

.actividad .button{
  background-color: #f44336;
  color: white;
  border: 2px solid #f44336;
  padding: 2px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  border-radius: 50%;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
    background-color:white;
    color: black;
}

.actividad .button1{
  background-color: #00DFAA;
  color: white;
  border: 2px solid #00DFAA;
  padding: 2px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  border-radius: 50%;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1:hover {
    background-color:white;
    color: black;
}

.actividad .control{
  margin-left: 10%;
}

.actividad .editar{
  width: 18px;
  height: 18px;
  margin: 0px 2px;
}

.paginate {
  margin-left: 10%;
}
.pagination li{
  margin-left: 10px;
  float:left;
  padding: 5px;
  color: #489185;
  font-family: trebuchet ms;
  font-size: 15px;
  background-color: white;
  display: inline-block;
}

@media (max-width:900px) {
.general{
    margin: 0 auto;
  }

.encabezado{
    border-radius: 1px;
    padding-top: 15px;
    position: relative;
  }

.busqueda {
    width:60%;
    margin-top: 0;
    display: block;
    padding-bottom: 10px;
  }

.inicio{
    width: 100%;
    display: block;
    font-size: 0.9em;
    background-color: #6D6F71;
    padding: 3px;
  }

.inicio .fijo {
    display: inline-block;
    padding-top: 2vh;
    padding-right: 3vh;
    margin: 0 auto;
  }

.avatar{
  width: 40px;
  }

.inicio .movil {
    display: inline-block;
    padding-top: 2vh;
    padding-right: 3vh;
    margin: 0 auto;
  }

.act-contenedor{
    display: inline-block;
    position: relative;
  }

.menun{
    position: absolute;
    padding: 10px 5px;
    font-size: 14px;
    background-color:#6D6F71;
  }

.menun li {
    padding-top: 10px;
    cursor: pointer;
    list-style: none;
  }

.menun li:hover {
  }

.ul-label {
    display: inline-block;
    padding-top: 2vh;
    padding-right: 3vh;
    margin: 0 auto;
  }

.ul-label{
    cursor: pointer;
  }

#ul:checked ~ .menun {
    display: block;
  }

  .poner{
     width: 65%;
     padding: 1%;
     display: inline-block;
     border: 1px solid #ccc;
     border-radius: 2px;
     box-sizing: border-box;
  }

.logo{
   margin: 1vh 1vh;
   top: -1px;
   left: 15px;
   width: 45px;
   margin-top: 12px;
 }


.menu{
   display: none;
 }

.button2{
  color: white;
  font-size: 13px;
  background-color: #6D6F71;
  border: none;
}

/* Seccion Bienvenidos */

/*section .articulo1{
   margin-top:3vh;
}

section .sport {
   display: none
 }

section .sport img{
   display: none;
 }*/

 /* Seccion Recomendados */


 .articulo2 .deportes .imagenT img{
  display: none;
 }

 .articulo2 .deportes .imagen img{
    width: 30%;
    vertical-align: top;
    float: left;
    margin: 1%;
 }

 .articulo2 .deportes .imagen6 img{
   display: inline-block;
   width: 100%;
   margin: 0;
}

 .articulo2 .deportes1 .imagenT img{
    display: none;
 }

 .articulo2 .deportes1 .imagen img{
    width: 30%;
    margin: 1%;
 }

 .articulo2 .deportes1 .imagen6 img{
   display: inline-block;
   width: 100%;
   margin: 0;
 }

section .info {
  font-size: 11px;
  background-color: white;
  color: black;
  }

/*Iniciar Sesion */

section .ingresar{
   border: 2px solid #4E9184;
   width: 55%;
   margin: 5%;
   background-color: #fff;
   border-radius: 15px;
   padding: 30px 10px;
   float: left;
   display: inline-block;
  }

section .regis{
   width: 25%;
   margin: 5%;
   border-radius: 15px;
   float: left;
 }

.img_depor{
   display: none;
 }

.img_depor1{
   display: block;
   width: 100%;
 }

 /*Preguntas Frecuentes*/

.cabeza  h2{
   text-align: center;
   display: inline-block;
   font-size: 20px;
  }

.preguntas h3{
   text-align: center;
   font-size: 20px;
 }

.respuestas{
    font-size: 18px;
  }
}

/*Pantalla actividades y tus actividades*/

.actividad {
  margin: 35px 20px;
}

.actividad h2{
  margin-left: 0%;
  color: #489185;
  font-size: 14px;
}

.actividad table {
    border-collapse: collapse;
    width: 95%;
    margin: 2%;
    padding: 1px;
}

.actividad th, td {
    text-align: left;
    padding: 2px;
    font-size: 13px;
}

.actividad .button{
  border: 1px solid #f44336;
  padding: 2px 3px;
  font-size: 6px;
  margin: 2px 1px;
  border-radius: 50%;
}

.actividad .editar{
  width: 13px;
  height: 13px;
  margin: 0px 2px;
}

.paginate {
  margin-left: 0%;
}

.pagination li{
  float:left;
  padding: 5px;
  color: #489185;
  font-family: trebuchet ms;
  font-size: 12px;
  background-color: white;
  display: inline-block;
}

@media (max-width:600px) {

.general{
   width: 100vw;
   margin: 0 auto;
  }

.encabezado{
   border-radius: 1px;
   padding-top: 15px;
   position: relative;
  }

.busqueda {
   margin-left: 90px;
   margin-top: 0;
   display: block;
  }

form{
   width:100%;
}

.avatar{
  width: 30px;
}

.inicio{
   width: 100%;
   display: block;
 }

.inicio a{
   text-align: center;
   display: inline-block;
 }

.inicio a:first-child{
   margin-left: 5px;
 }

.inicio .fijo {
   padding-right: 1vh;
 }

.inicio .actividades {
   padding-right: 1vh;
 }

.inicio .movil {
   display: none;
 }

.menun{
    display: none;
  }

.poner {
   width:60%;
   padding: 1.5%;
   margin: 1vh 2vh;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 2px;
   box-sizing: border-box;
  }

.logo{
   margin: 1vh 1vh;
   top:-1px;
   left: 10px;
   width: 40px;
   margin-top: 12px;
  }

.menu{
   display: none;
  }

.buscar{
   padding: 5px;
   margin: 1vh 1vw;
   width:50px;
 }

 /* INDEX */

 section .sport1 img{
     margin:10% 20%;
     width: 60%;
 }

 section .sport2 img{
      width: 100%;
 }

 section .info{
    display: inline-block;
    width: 100%;
    text-align: justify;
    background-color: #6D6F71;
    padding: 2% 10%;
    color: white;
 }


 .articulo2 .deportes .imagen6 img{
   display: none;
 }

 .articulo2 .deportes1 .imagen6 img{
   display: none;
 }
 /* Seccion Recomendados */

  .articulo2 .deportes .imagenT img{
     display: inline-block;
     width: 100%;
     margin: 0;
  }

  .articulo2 .deportes .imagen img{
    width: 70%;
    display: inline-block;
    vertical-align: top;
    margin: 2% 15%;
  }

  .articulo2 .deportes1 .imagenT img{
    display: inline-block;
    width: 100%;
    margin: 0;
  }

  .articulo2 .deportes1 .imagen img{
    width: 70%;
    display: inline-block;
    vertical-align: top;
    margin: 2% 15%;
  }

/*Iniciar Sesion */

section .ingresar{
   margin: 10% 15% 5% 15%;
   display: inline-block;
   width: 70%
 }

section .regis{
   width: 70%;
   margin: 5% 15%;
 }

.img_depor{
   display: block;
   width: 100%;
 }

.img_depor1{
   display: none;
 }

.ingresar input[type=text], select {
   width: 100%;
 }

 .ingresar input[type=password] {
    width: 100%;
 }

 .mensajes2 li{
   display: inline-block;
   margin-left: 10%;
   color: red;
   font-size: 11px;
   list-style-type: none;
 }

/*.ingresar input[type=submit] {
   margin: 3vh 4vw 1vh 7vw;
 }

/*.ingresar .face{
   margin: 1vh 7vw;
 }*/

.ok{
   color: #8A0829;
   margin: 3vh 4vw 1vh 7vw;
   font-size: 12px;
 }

/*Preguntas Frecuentes*/
.cabeza  h2{
   text-align: center;
   display: inline-block;
   font-size: 18px;
  }

.preguntas h3{
  text-align: center;
  font-size: 18px;
}

.respuestas{
  font-size: 15px;
}

.consulta h3{
  text-align: center;
  font-size: 14px;
  }

.consulta  #texto {
  margin-left:10%;
  font-size: 12px;
  width: 80%;
  height: 16vh;
  resize: none;
  }

  /*Pantalla actividades y tus actividades*/

  .actividad h2{
    margin-left: 0%;
    color: #489185;
    font-size: 10px;
  }
  .actividad table {
      border-collapse: collapse;
      width: 98%;
      margin: 1%;
      padding: 1px;
  }

  .actividad th, td {
      text-align: left;
      padding: 1px;
      font-size: 8px;
  }

  .actividad .button{
    border: 1px solid #f44336;
    padding: 1px 2px;
    font-size: 5px;
    margin: 2px 1px;
    border-radius: 50%;
  }

  .actividad .editar{
    width: 10px;
    height: 10px;
    margin: 0px 2px;
  }

  .pagination li{
    float:left;
    padding: 5px;
    color: #489185;
    font-family: trebuchet ms;
    font-size: 9px;
    background-color: white;
    display: inline-block;
  }

}
